<!DOCTYPE html>
html(lang="fr")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Todo App
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css")
	body
		nav.navbar.bg-dark.navbar-dark.mb-4
			.container
				a(href="/").navbar-brand Todo App
		.container
			.row
				.col-md-4
					.card
						.card-header
							h5 Ajouter une tâche
						.card-body
							form(action="/add", method="POST")
								.form-group
									label(for="todo") Ajouter une tâche:
									input(type="text", id="todo", name="title").form-control
								button(type="submit").btn.btn-success 
									i.fas.fa-plus.pr-1
									b Ajouter
				.col-md-8
					table.table.table-striped
						thead
							tr
								th(scope='col') Todo
								th(scope='col') Editer
								th(scope='col') Supprimer
						tbody
							each todo in todos
								tr
									th(scope='row')= todo.title
									th
										button.btn.btn-info.btn-sm
											i.fas.fa-pencil-alt
									th
										button.btn.btn-danger.btn-sm
											i.fas.fa-trash-alt
