<!DOCTYPE html>
html(lang="fr")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Todo App
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css")
	body
		nav.navbar.bg-dark.navbar-dark.mb-4
			.container
				a(href="/").navbar-brand Todo App
		.container
			.row
				.col-md-4
					.card
						.card-header
							h5 Editer la tâche 
						.card-body
							form(method="POST", action="/update/" + todo.id + "?_method=PUT")
								.form-group
									label(for="todo") Editer une tâche:
									input(type="text", id="todo", name="title", value=todo.title).form-control
								button(type="submit").btn.btn-success 
									i.fas.fa-plus.pr-1
									b Editer
				